* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(221, 226, 230, 0.829);
}

/* header logo */
#banner {
    height: 120px;
    background-color: white;
    padding: 10px;
}

#logoimg {
    height: 100px;
    vertical-align: middle;
}

#logotext {
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

/* main */
.container {
    padding: 2% 15% 0;
}

.buttonbox {
    background-color: white;
    padding: 20px 80px;
    font-size: 20px;
}

.button {
    text-decoration: none;
    padding: 8px;
    border-radius: 30%;
    display: inline-block;
    color: white;
}

#taskbutton {
    background-color: rgb(29, 115, 172);
    border-radius: 8%;
}

#sectionbutton {
    color: lightgray;
    border: solid 1px lightgray;
    border-radius: 8%;
}

.contentbox {
    background-color: white;
    margin-top: 2px;
}

.content {
    padding: 25px 80px;
}

.content h2 {
    font-size: 30px;
    margin: 10px;
}

#item {
    font-size: 25px;
    display: inline-block;
}

h2::before {
    content: ' \25BC';
    font-size: 20px;
}

.itemcheck::before {
    content: "\2714";
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    margin: 0 20px;
}

.itemcheckno::before {
    content: "\2717";
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    margin: 0 20px;
}

#itemblock {
    margin-top: 15px;
}

#editorial {
    background-color: royalblue;
}

#q1goals {
    background-color: slateblue;
}

#recruiting {
    background-color: rgb(10, 92, 10);
}

#mobile {
    background-color: orange;
}

#website {
    background-color: orchid;
}

#sales {
    background-color: greenyellow;
}