@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(221, 226, 230, 0.829);
}

/* header logo */
#banner {
    height: 120px;
    background-color: white;
    padding: 10px;
}

#logoimg {
    height: 100px;
    vertical-align: middle;
}

#logotext {
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

/* main */
.container {
    margin: 10px auto;
    width: 70%;
}

#actionbox {
    background-color: white;
    padding: 20px 80px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button {
    text-decoration: none;
    padding: 8px;
    border-radius: 30px;
    display: inline-block;
    color: white;
}

#taskbutton {
    background-color: rgb(29, 115, 172);
    border-radius: 8px;
}

#sectionbutton {
    color: lightgray;
    border: solid 1px lightgray;
    border-radius: 8px;
}

#contentbox {
    background-color: white;
    margin-top: 2px;
    margin-bottom: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content {
    margin-left: 80px;
}

.timeline {
    font-size: 30px;
    margin: 10px;
}

.item {
    font-size: 25px;
    display: inline-block;
}

.timeline::before {
    content: ' \25BC';
    font-size: 20px;
}

.itemcheck::before {
    content: "\1F5F8";
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 0 3px;
    margin: 0 20px;
}

.itemcheckno::before {
    content: "\00D7";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 0 6px;
    margin: 0 20px;
}

.itemblock {
    margin-top: 15px;
}

.topiceditorial {
    background-color: royalblue;
}

.topicq1goals {
    background-color: slateblue;
}

.topicrecruiting {
    background-color: rgb(10, 92, 10);
}

.topicmobile {
    background-color: orange;
}

.topicwebsite {
    background-color: orchid;
}

.topicsales {
    background-color: greenyellow;
}