* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(221, 226, 230, 0.829);
}

/* header logo */
#banner {
    height: 120px;
    background-color: white;
    padding: 10px;
}

#logoimg {
    height: 100px;
    vertical-align: middle;
}

#logotext {
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

/* main */
.container {
    padding: 2% 20% 0;
}

.buttonbox {
    background-color: white;
    padding: 20px 50px;
}

.button {
    font-size: 20px;
    text-decoration: none;
    border-radius: 10%;
    padding: 10px;
}

#taskbutton {
    background-color: rgb(29, 115, 172);
    color: white;

}

#sectionbutton {
    color: lightgray;
    border: solid 1px lightgray;
}


/* .contentbox {
    background-color: white;
} */